.experience-btn{
    size: 100px;
    border-radius: 10px;
    border: 1.5px solid;
    padding: 5px 10px;  
    background-color: #2eb94f;
    color: white;
    margin-bottom: 10px;
    &:hover{
        background-color: #309549;
    }
}

.experience-group{
    display: flex;
    flex-direction: column;
    .idk{
        flex-direction: row;
        .organization{
            width: 35%;
            margin-bottom: 10px;
            height: 30px;
            margin-right: 10%;
            border-radius: 5px;
        }
    
        .position{
            width: 55%;
            border-radius: 5px;
        }
    }

    .description{
        width: 100%;
        min-height: 50px;
        border-radius: 5px;
    }
}